/**
 * Basic CSS Media Query Template
 * TODO: I should probably use Sass...
 * Author: Michael Vieth
 * ------------------------------------------
 *  Responsive Grid Media Queries - 1280, 1024, 768, 480
 *   1280-1024   - desktop (default grid)
 *   1024-768    - tablet landscape
 *   768-480     - tablet 
 *   480-less    - phone landscape & smaller
 * --------------------------------------------
 */
@media all and (min-width: 1024px) and (max-width: 1280px) {}

@media all and (min-width: 768px) and (max-width: 1024px) {}

@media all and (min-width: 480px) and (max-width: 768px) {}

@media all and (max-width: 480px) {}


/* Portrait */
@media screen and (orientation:portrait) {
    /* Portrait styles here */
}

/* Landscape */
@media screen and (orientation:landscape) {
    /* Landscape styles here */
}


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
    .scale {
        transform: scale(0.5) !important;
    }
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    .scale {
        transform: scale(0.5) !important;
    }
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
    .scale {
        transform: scale(0.5) !important;
    }
}

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {
    .scale {
        transform: scale(0.5) !important;
    }
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {
    .scale {
        transform: scale(0.5) !important;
    }
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {
    .scale {
        transform: scale(0.5) !important;
    }
}


.element {
    animation: pulse 5s infinite;
}

@keyframes pulse {
    from {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(0.75);
        opacity: 0.25;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}